[Desktop Entry]
Type=Application
Name=safegamingOS theme
Comment=Apply the safegamingOS branded wallpaper and color scheme
Exec=/usr/local/bin/sg-live-theme
X-GNOME-Autostart-enabled=true
OnlyShowIn=KDE;
